* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    background-color:#000;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #000;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
}

.navbarLogo {
    color:aliceblue;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.navbarMenu {
    display: flex;
    justify-content: right;
    list-style: none;
}

.navbarItem {
}

.navbarLinks {
    color:aliceblue;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbarLinks:hover {
    color:blueviolet
}